<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
    height: 100%;
    margin: 0;
}



.bg {
    /* The image used */
    /* https://mapchart.net/ */
    background-image: url("./maps/US_map2.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-color: #e5f5f9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
</style>
</head>
<body>

<a href="../texas/texas.html"><input type="button" id="texas_button" value="  tx  "><br></a>
<a href="../oregon/oregon.html"><input type="button" id="oregon_button" value="  or  "><br></a>
<a href="../newyork/newyork.html"><input type="button" id="newyork_button" value="  ny  "><br></a>

<div class="bg"></div>

</body>
</html>
